<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://wwww.w3.org/1999/xhtml">
    <head th:replace="layout/header :: head">
        <title>Sitio Web Base</title>
    </head>
    <body>
        <header th:replace="layout/header :: header1"></header>
        <div class="container">
            <div class="mt-5">
                
                <div class="row pl-4 pt-4 pb-4 mt-2 mb-4" >
                    <div >
                        <p class="card-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus a justo sed fringilla. Ut nec posuere magna. Sed non diam hendrerit, rhoncus massa vel, sodales lacus. In nec nibh aliquam tellus blandit luctus non in magna. Pellentesque varius nisl scelerisque felis aliquet, a vehicula metus malesuada. Proin varius faucibus leo ut aliquam. Nulla facilisi. Ut in luctus nulla. Duis id augue at erat aliquam vestibulum eget sollicitudin augue. In lobortis ut ipsum ut vehicula. Phasellus vitae orci non sem pulvinar congue et quis lectus. Donec sagittis dolor nec urna pellentesque, sed consectetur justo ornare. Fusce at malesuada tellus. Nam convallis metus vitae consequat dictum. Quisque in neque in diam blandit ultricies. Suspendisse gravida dui et ipsum ornare viverra.
                        </p>
                    </div>
                </div>
                <div class="row pl-4 pt-4 pb-4 mt-2 mb-4" >
                    <div >
                        <p class="card-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus a justo sed fringilla. Ut nec posuere magna. Sed non diam hendrerit, rhoncus massa vel, sodales lacus. In nec nibh aliquam tellus blandit luctus non in magna. Pellentesque varius nisl scelerisque felis aliquet, a vehicula metus malesuada. Proin varius faucibus leo ut aliquam. Nulla facilisi. Ut in luctus nulla. Duis id augue at erat aliquam vestibulum eget sollicitudin augue. In lobortis ut ipsum ut vehicula. Phasellus vitae orci non sem pulvinar congue et quis lectus. Donec sagittis dolor nec urna pellentesque, sed consectetur justo ornare. Fusce at malesuada tellus. Nam convallis metus vitae consequat dictum. Quisque in neque in diam blandit ultricies. Suspendisse gravida dui et ipsum ornare viverra.
                        </p>
                    </div>
                </div>
                <div class="row pl-4 pt-4 pb-4 mt-2 mb-4" >
                    <div >
                        <p class="card-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus a justo sed fringilla. Ut nec posuere magna. Sed non diam hendrerit, rhoncus massa vel, sodales lacus. In nec nibh aliquam tellus blandit luctus non in magna. Pellentesque varius nisl scelerisque felis aliquet, a vehicula metus malesuada. Proin varius faucibus leo ut aliquam. Nulla facilisi. Ut in luctus nulla. Duis id augue at erat aliquam vestibulum eget sollicitudin augue. In lobortis ut ipsum ut vehicula. Phasellus vitae orci non sem pulvinar congue et quis lectus. Donec sagittis dolor nec urna pellentesque, sed consectetur justo ornare. Fusce at malesuada tellus. Nam convallis metus vitae consequat dictum. Quisque in neque in diam blandit ultricies. Suspendisse gravida dui et ipsum ornare viverra.
                        </p>
                    </div>
                </div>
            </div>
    </body>
</html>
