<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://wwww.w3.org/1999/xhtml">
    <head th:replace="layout/header :: head">
        <title>Sitio Web Negocio</title>
    </head>
    <body>
        <header th:replace="layout/header :: header1"></header>
        <div>
            Esto es info
        </div>
        <div>
            mas info
        </div>
    </body>
</html>
